@import "tailwindcss";
.clip-triangle-up { clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
.clip-triangle-down { clip-path: polygon(0% 0%, 100% 0%, 50% 100%); }
.clip-triangle-left { clip-path: polygon(0% 50%, 100% 0%, 100% 100%); }
.clip-triangle-right { clip-path: polygon(0% 0%, 100% 50%, 0% 100%); }
