body {
  margin: 0;
  background: #000;
}

.container {
  width: 100vw;
  height: 100vh;
}

.screen {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotspot {
  position: absolute;
  cursor: pointer;
  /* Uncomment below for debugging */
  /* background: rgba(255,0,0,0.3); */
}
