* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 100%;
  max-width: 420px;
  aspect-ratio: 9 / 16;
}

.screen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
